$apricot:#F7882F;
$blueberry: #6B7A8F;
$citrus: #F7C331;
$tan:#DCC7AA;

html {
  height: 100%;
  width: 100%;
  box-sizing: content-box;
}

body {
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  background: linear-gradient(135deg, $apricot, $citrus);
}

#contain{
  background: linear-gradient(135deg, $apricot, $citrus);
  display: flex;
  flex-wrap: wrap;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.2em;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: content-box;
}

#logo{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: white;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  text-align: center;
  margin-bottom: 25%;
  color: white;
}


button{
  border: none;
  background-color: $blueberry;
  padding: 15px 32px;
  letter-spacing: 0.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
