#favorites-container {
  background: linear-gradient(135deg, #F7882F, #F7C331);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.2em;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: content-box; }


.header-container{
  display: inline-block;
  margin-top: -100px;
  margin-bottom: 25px;
}

.header-container .header-button{
  display: inline-block;
  margin-left: -140px;
  margin-right: 60px;
  vertical-align: middle;
  font-size: 12px;
  color:$blueberry;
}

.header-container .header-text{
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}

.address-form{
  margin-bottom: 70px;
  width: 94%;
  padding: 10px;

}
 .add-form{
  width: 100%;
  border: none;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

.plane-container{
  border: solid 2px black;
  height:60px;
  padding: 8px 113px;
  background-color: $blueberry
}

.plane-container .plane-icon{
  display: inline-block;
  float:left;
  width: 50px;
  margin-right: 20px;
  vertical-align: middle;
}

.plane-container .plane-text{
  display: inline-block;
  vertical-align: middle;
  color: white;
}

.my-favorite{
  border: solid 2px black;
  height:65px;
  padding: 8px 148px;
  background-color: $core;
}

.my-favorite-text{
  display: inline-block;
  vertical-align: middle;
  padding-top:15px;
}

.star-container{
  border: solid 2px black;
  height:60px;
  padding: 8px 92px;
  background-color: $blueberry;
}

.star-container .star-icon{
  display: inline-block;
  float:left;
  width: 50px;
  margin-right: 20px;
  vertical-align: middle;
}

.star-container .star-text{
  display: inline-block;
  vertical-align: middle;
  color:white;
}

.favorites{
  list-style-type: none;
  padding: 0 10px;
  margin-top: 0px;
}

.favorites li {
  border: solid 2px black;
  overflow: auto;
  line-height: 50px;
  padding: 14px 45px;
  text-align: right;
  background-color: white;
}

.arrow-button{
  background-color: white;
  border:none;
  font-size: 20px;
}
