.logo-overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, $apricot, $citrus);
    box-sizing: content-box;
    position: relative;

  &.hidden {
    display: none;
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 0 15px 0;
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}