.logo-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, $apricot, $citrus);
  box-sizing: content-box;

  &.hidden {
    display: none;
  }
}

.logo {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}