#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;

  &.active {
    z-index: 1000;
    display: block;
  }
}

.parking-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;

  .parking-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    background-color: $citrus;
    height: 8%;
    width: 100%;
    box-sizing: content-box;

    .chevron-img {
      margin: 0 10px;
      height: 50%;
      width: auto;
      cursor: pointer;
    }
  }

  .parking-content {
    position: relative;
    background-color: white;
    color: $text;
    height: 92%;
    width: 100%;
    padding: 10px;
    text-align: center;

    #park-img {
      height: 100%;
      width: 100%;
    }

    .parking-img {
      display: inline-block;
      margin: auto;
      width: 100%;
      height: 40%;
      background-color: $apricot;
    }

    .info-text {
      display: inline-block;
      width: 100%;
      height: auto;
      text-align: left;
      margin-top: 10px;

      .distance-price-like {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        font-size: 20px;

        .like-img {
          height: 25px;
          width: 25px;
        }
      }
      .icons {
        display: flex;
        margin: 10px 0;
        justify-content: space-around;
        align-items: center;

        .icon-container {
          text-align: center;
          font-size: 10px;
          width: 51px;

          .small-icon-camera {
            height: 70%;
            width: 70%;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
.parking-button {
  margin: 20px auto;
  background-color: $citrus;
  border: 1px solid $btn-border;
  color: $text;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  height: 50px;
  border-radius: 10px;
  padding: 0 15px;
  box-sizing: content-box;
}