#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;

  &.active {
    z-index: 1000;
    display: block;
  }
}

.parking-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;

  .parking-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    background-color: $citrus;
    height: 8%;
    width: 100%;
    box-sizing: content-box;

    .chevron-img {
      margin: 0 10px;
      height: 50%;
      width: auto;
      cursor: pointer;
    }
  }

  .parking-content {
    position: relative;
    background-color: white;
    color: $text;
    height: 92%;
    width: 100%;
    padding: 10px;
    text-align: center;

    #park-img {
      height: 100%;
      width: 100%;
    }

    .parking-img {
      display: inline-block;
      margin: auto;
      width: 100%;
      height: 40%;
      background-color: $apricot;
    }

    .info-text {
      display: inline-block;
      width: 100%;
      height: auto;
      text-align: left;

      .distance-price-like {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        font-size: 20px;

        .like-img {
          height: 25px;
          width: 25px;
        }
      }
      .icons {
        display: flex;
        margin: 20px 0;
        justify-content: space-around;
        align-items: center;

        .small-icon {
          height: 10%;
          width: 10%;
        }

        .small-icon-camera {
          height: 7%;
          width: 7%;
        }
      }
      .icon-text-block {
        display: flex;
        margin: 0;
        justify-content: space-around;
        align-items: center;

        .icon-text {
          font-size: 10px;
          width: 33%;
          height: auto;
        }
      }
    }
  }
  .parking-button {
    margin: 0 auto;
    background-color: white;
    border: 1px solid $btn-border;
    color: $text;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    height: 50px;
    box-sizing: content-box;
  }
}