<div class="logo-overlay">
  <div class="logo">
    <img src="bolt.svg" alt="logo"/>
  </div>
</div>
<div id="map"></div>
<script src='javascript/centerControl.js'></script>
<script src='javascript/initMap.js'></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtSbSaGS4TQw9M0aN6j7akXUk1O8xmz84&callback=initMap">
</script>