<div class="logo-overlay">
  <div class="logo">
    <img src="bolt.svg" alt="logo"/>
  </div>
</div>
<div id='modal'>
  <div class="parking-container">
    <div class="parking-header">
      <img id='parking-back' src="chevron-pointing-to-the-left.svg" alt="back" class="chevron-img">
    </div>
    <div class="parking-content">
      <div class="parking-img">
        <img src="" id="park-img" />
      </div>
      <div class="info-text">
        <h1 id="address-street">1050 Queen St. #100</h1>
        <h2 id="address-state">Honolulu, HI 96814</h2>
        <div class="distance-price-like">
          <div class="distance">0.9 mi | $<span id="parking-price">8</span>/hr</div>
          <img src="like.svg" alt="like" class="like-img">
        </div>
        <hr />
        <div class="icons">
          <div class="icon-container"><img src="car.svg" alt="compact" class="small-icon">
          compact OK</div>
          <div class="icon-container"><img src="house.svg" alt="house" class="small-icon">covered stall</div>
          <div class="icon-container"><img src="camera.svg" alt="camera" class="small-icon-camera"><br>24/7 surveillance</div>
        </div>
        <hr />
      </div>
      <button id="book-this-stall" type="button" class="parking-button">Book This Stall</button>
    </div>
  </div>
</div>

<div id="booking-confirmation-modal">
  <div class="booking-confirmation-container">
    <div class="logo">
      <img src="bolt.svg" alt="logo">
    </div>
    <div class="booking-confirmation-text">You've booked your stall!</div>
  </div>
</div>
</div>

<div id="checkout-confirmation-modal">
  <div class="checkout-confirmation-container">
    <div class="logo">
      <img src="bolt.svg" alt="logo">
    </div>
    <div class="checkout-confirmation-text">You've checked out of your stall!</div>
  </div>
</div>
</div>

<div id="timer-modal">
  <div class='dashcontent'>
  <div class="dash-head">
    <div class="header-text"> Time parked:</div>
    <div id='time'>00:00:00</div>
    </div>
    <button id='checkout-btn' class='checkoutBorder'>CHECKOUT</button>
  </div>
</div>

<div id="map"></div>
<script src='javascript/time.js'></script>
<script src='javascript/centerControl.js'></script>
<script src='javascript/initMap.js'></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtSbSaGS4TQw9M0aN6j7akXUk1O8xmz84&callback=initMap">
</script>