<div class="logo-overlay">
  <div class="logo">
    <img src="bolt.svg" alt="logo"/>
  </div>
</div>
<div id='modal'>
  <div class="parking-container">
    <div class="parking-header">
      <img id='parking-back' src="chevron-pointing-to-the-left.svg" alt="back" class="chevron-img">
    </div>
    <div class="parking-content">
      <div class="parking-img">
        IMAGE GOES HERE
      </div>
      <div class="info-text">
        <h1 id="address-street">1050 Queen St. #100</h1>
        <h2 id="address-state">Honolulu, HI 96814</h2>
        <div class="distance-price-like">
          <div class="distance">0.9 mi | $<span id="parking-price">8</span>/hr</div>
          <img src="like.svg" alt="like" class="like-img">
        </div>
        </div>
        <button type="button" class="parking-button">Book This Stall</button>
      </div>
    </div>
  </div>
<div id="map"></div>

<script src='javascript/centerControl.js'></script>
<script src='javascript/initMap.js'></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtSbSaGS4TQw9M0aN6j7akXUk1O8xmz84&callback=initMap">
</script>