html {
  height: 100%;
  width: 100%;
  box-sizing: content-box; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, #F7882F, #F7C331);
  box-sizing: content-box; }
  body .logo {
    margin: 0 0 15px 0;
    background-color: white;
    height: 350px;
    width: 350px;
    border-radius: 50%; }
