#payment {
  text-align: center;
  font-size: 100px; }

#cancel {
  background-color: red;
  font-size: 60px;
  padding: 15px; }

.arrow {
  font-size: 100px;
  float: right; }

#paypal {
  font-size: 60px; }

#email {
  font-size: 40px; }

#cc {
  font-size: 60px; }

.boop {
  border: 1px solid black; }
