html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Source Sans Pro', sans-serif; }

#map {
  height: 100%;
  width: 100%; }

.logo-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, #F7882F, #F7C331);
  box-sizing: content-box; }

.logo {
  margin: 0 0 15px 0;
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 50%; }

.container-parking {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%; }
  .container-parking .header-parking {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: #F7C331;
    height: 8%;
    width: 100%;
    box-sizing: content-box; }
    .container-parking .header-parking img {
      height: 50%;
      margin: 0 30px;
      width: auto; }
  .container-parking .content-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FBF9F6;
    color: #363636;
    height: 92%;
    width: 100%; }
    .container-parking .content-body .parking-img {
      margin: 0 30px;
      width: 100%;
      height: 40%;
      background-color: #F7882F; }
    .container-parking .content-body .info-text {
      width: 100%;
      height: 45%;
      padding: 0 40px; }
      .container-parking .content-body .info-text h1 {
        font-size: 100px;
        margin: 0; }
      .container-parking .content-body .info-text h2 {
        font-size: 60px;
        margin: 0; }
      .container-parking .content-body .info-text .distance-price-like {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px; }
        .container-parking .content-body .info-text .distance-price-like .distance, .container-parking .content-body .info-text .distance-price-like .price {
          font-size: 60px;
          font-weight: bold; }
        .container-parking .content-body .info-text .distance-price-like img {
          height: 60px; }
      .container-parking .content-body .info-text .button {
        height: 50px;
        margin: auto; }
